 <h3 class="ui header">Productos</h3>
 {{#if admin}} 
    <div class="ui  cards">
          {{#each productos }}
            <div class="ui card">
              <div class="image">
                <img src={{this.thumbnail}}>
              </div>
              <div class="content">
                <a class="header">{{this.title}}</a>
                <div class="meta">
                  <a>{{this.price}}</a>
                </div>
                <div class="description">{{this.descripcion}}</div>
              </div>
              
              <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic red button" onclick="eliminarProd({{this.id}})">Eliminar</div>
                </div>
                </div>
                <div class="extra content">
                    <h2 class="ui header">Actualizar Producto</h2>
                    <div class="ui field">
                      <div  class="ui input"> <input type="text" name="title" placeholder="Nombre" id="title"> </div>
                    </div>
                    <div class="field">
                      <div  class="ui input"> <input type="number" name="price" placeholder="Precio" id="price"> </div>
                    </div>
                    <div class="field">
                     <div  class="ui input"> <input type="text" name="thumbnail" placeholder="URL" id="thumbnail"> </div>
                    </div>
                    <div class="field">
                     <div  class="ui input"> <input type="number" name="stock" placeholder="Stock" id="stock"> </div>
                    </div>
                    <div class="ui label">Descripcion</div>
                    <div class="field">
                      <textarea rows="1" name="descripcion" placeholder="Descripcion" id="descripcion"> </textarea>
                    </div>
                  <button class="ui basic blue button" onclick="editarProd({{this.id}})">
                    Actualizar
                  </button>

              </div>
              
            </div>
          {{/each}}

    </div>
{{else}}
    <div class="ui  cards">
          {{#each productos }}
            <div class="ui card">
              <div class="image">
                <img src={{this.thumbnail}}>
              </div>
              <div class="content">
                <a class="header">{{this.title}}</a>
                <div class="meta">
                  <a>{{this.price}}</a>
                </div>
              </div>
            </div>
          {{/each}}

    </div>
 {{/if}}




