{{#if saludo}}
    {{> saludo}}

    {{else}}
    <h2>Datos personales Usuaro</h2>
    <div>
        <ul>
        <li>Nombre: {{nombre}}  </li>
        <li>Apellido: {{apellido}}  </li>
        <li>Edad: {{edad}}  </li>
        <li>Telefono: {{telefono}}  </li>
        <li>Email: {{email}}  </li>
        </ul>
    </div>
{{/if}}







